/* патч, чтобы класс иконок можно было присваивать тегу <a> без вложенных тегов */
.zmdi {
	font-family: 'Material Design Iconic Font'!important;
}

/*header*/
.ui-header .ui-title { margin: 0 110px 0 65px; }
.ui-btn-right2 { right: 55px; }


/*панель меню*/
.panel-logo {
	text-align: center;
}
.ui-panel .zmdi {  width: 15px; }


/*ajax loader*/
.ui-loader-default {
	opacity: 1;
	width: 4.875em; height: 4.875em;
	margin-left: -2.4375em; margin-top: -2.4375em;
}
.ui-loader .ui-icon-loading {
	background: url(../images/ajax-loader.gif);
	background-color: transparent; background-size: 4.875em 4.875em;
	width: 4.75em; height: 4.75em;
}


/* список категорий  */
.catalog .ui-content .ui-listview { margin-bottom: 0; }
.catalog .ui-content.region_content  { padding-bottom: 8px; }
.catalog .views-results li:nth-child(1)  { background-color: #259b24; }
.catalog .views-results li:nth-child(2)  { background-color: #cddc39; }
.catalog .views-results li:nth-child(3)  { background-color: #ff9800; }
.catalog .views-results li:nth-child(4)  { background-color: #e51c23; }
.catalog .views-results li:nth-child(5)  { background-color: #9c27b0; }
.catalog .views-results li:nth-child(6)  { background-color: #3F51B5; }
.catalog .views-results li:nth-child(7)  { background-color: #03a9f4; }
.catalog .views-results li:nth-child(8)  { background-color: #607D8B; }
.catalog .views-results li:nth-child(9)  { background-color: #009688; }

.catalog-item { padding: 15% 1em 15% 40px; }
.ui-listview>li>a.ui-btn.catalog-item { margin-left: 8% }
.catalog-item:hover { opacity: 0.8; }
.catalog .views-results.ui-listview>li { margin-top: 8px; box-shadow: 1px 1px 6px #333; }
.catalog .views-results.ui-listview>li .catalog-item h2 {
	color: #fff; font-size: 17px; text-shadow: 1px 1px 5px #000;
	text-transform: uppercase;
	white-space: pre-wrap;
	width: 90%;
}
.ui-page-theme-a .catalog-item.ui-btn {
	border-radius: 0;
}

/* список товаров */
a.product-item { padding-top: 0; padding-bottom: 0; }
.product-item .nd2-card { border-radius: 0; margin: 5px auto; }
.product-item .nd2-card.card-media-left.card-media-medium  .card-title .card-primary-title,
.product-item .nd2-card .card-title .card-primary-title {
	font-size: 17px; line-height: 20px; white-space: normal;
}
.product-item .nd2-card .card-title .card-subtitle {
	font-size: 13px; line-height: 14px; white-space: normal;
	margin-top: 5px;
}
.product-item .ui-listview>.ui-li-static {
	padding: 0 1em;
}
.product-item .nd2-card.card-media-left { min-height: initial; }
.product-item .nd2-card.card-media-left.card-media-medium  .card-title .card-primary-title,
.product-item .nd2-card.card-media-left.card-media-medium  .card-title .card-subtitle {
	margin-left: 120px;
}
.product-item .nd2-card.card-media-left.card-media-medium .card-media {
	width: 112px; height: 112px;
}
.product-item .nd2-card .card-media img { width: 100%!important;}
.product-item .nd2-card .card-bottom { font-size: 1.5em; text-align: right; padding: 0 10px 10px; }
.product-item a.product-item.ui-btn { padding: 0 10px; }


/*карточка товара*/
.price  { font-size: 1.5em; text-align: right; margin-bottom: 20px; }
.price span { color: #aaa; font-size: .4em; text-transform: uppercase; margin-right: 10px; }
.short_descr { color: #aaa; text-align: justify; }
.description { text-align: justify; }


/*корзина*/
.cart .nd2-card .card-title .card-primary-title  {
    font-size: 1em; font-weight: 400; line-height: 1.4em;
    white-space: normal;
    max-width: 90%;
}
.cart .nd2-card .card-title.has-supporting-text {
	background-color: #eee;
	padding: 10px 16px;
    position: relative;
}
.cart .nd2-card .card-action .ui-btn {
	display: inline-block;
}
.cart .nd2-card .ui-input-text {
	margin-bottom: 0;
	width: 30px; height: 30px;
	vertical-align: middle;
}
.cart .nd2-card .ui-input-text input {
	text-align: center;
}
.cart .total-price {
	font-size: 1.6em; font-weight: 600; text-align: right;
	padding-right: 10px;
}
.cart .l-btn { padding-right: 5px; }
.cart .r-btn { padding-left: 5px; }
.cart h3.ui-bar { text-align: right; }
.cart a.delete {
    position: absolute; top: 1px; right: 2px;
}


/* страница Адресная книга */
.ab-name {  }
.ab-city { color: #bbb; font-size: .8em; text-transform: initial; }

/* страница доставки */
.s-info,
.s-message,
.s-error {
    font-size: .8em; text-transform: initial;
    margin-top: 3px;

}
.s-info { color: #2b8aff; }
.s-message { color: gray; }
.s-error { color: red; }
.s-name span { display: block; float: right; font-weight: 400; }

/*страница оплаты*/
#plastic_pay_container { display: none; }

/* стили для экранов шириной меньше 360 */
@media all and (max-width: 360px) {
	.catalog .views-results.ui-listview>li { margin-top: 3px; }

	.product-item .nd2-card.card-media-left.card-media-medium  .card-title .card-primary-title {
		font-size: .9em; font-weight: 800; line-height: 1.3em;
	}
	.product-item .nd2-card .card-title { padding: 16px 16px 5px 16px; }
	.product-item .nd2-card .card-title .card-subtitle {
		font-size: .7em;
	}
	.product-item .nd2-card.card-media-left.card-media-medium .card-media {
		width: 60px; height: 60px;
	}
	.product-item .nd2-card.card-media-left.card-media-medium  .card-title .card-primary-title,
	.product-item .nd2-card.card-media-left.card-media-medium  .card-title .card-subtitle {
		margin-left: 70px;
	}
	.product-item .nd2-card .card-bottom { font-size: 1em; }


	.cart .nd2-card .card-title.has-supporting-text {
		font-size: .8em;
		padding: 8px 16px;
	}
	.cart .nd2-card .card-title .card-primary-title {
        font-size: 1em; font-weight: 400; line-height: 1.5em;
        white-space: normal;
    }
	.cart .total-price {
		font-size: 1.1em; font-weight: 600; text-align: right;
		padding: 8px 8px 0 0;
	}
	.cart h3.ui-bar { font-size: 1.2em; }
}
@media all and (orientation: landscape), all and (min-width: 480px) {
	.catalog .views-results.ui-listview>li .catalog-item h2 {
		font-size: 28px;
	}
}

